body {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #000;
  background: url(../img/tasol-logo.jpg) center top no-repeat fixed #fff ;
}

.center {
  text-align: center
}

#links a {
  color: #000;
  font-weight: bold;
  font-size:16px;
  margin: 0 5px;
}